<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samaneh Heshmatzadeh - A04</title>
    <link rel="stylesheet" href="./styles/style.css">
</head> -->

<div id = "wrapper">
    <header>
        <div id = "logo-img"><img src="/images/logo.jpg" alt="Logo" width="100" height="100"></div>
        <div id = "company-info">
            company co <br>
            comany address <br>
            suit <br>
            city <br>
            postal <br>
            email <br>
        </div>
        <div id = "invoice-number">Invoice 0001</div>
    </header>
    <main id = "main-wrapper">
        <section id = "summary-section">
            <div id ="client-contact">
                BILL TO: <br>
                Client Name <br>
                Client Company Name <br>
                comany address <br>
                suit <br>
                city <br>
                postal <br>
                email <br>
            </div>
            <div id = "bill-detail">
                <div id = "issue-date">Date <br>2023/11/11</div>
                <div id = "payable">Please Pay <br>CAD 9100.00</div>
                <div id = "due-date">Due Date <br>2023/11/11</div>
            </div>
        </section>

        <section id = "billable-details-section">
            <div id = "item"> ITEM <br> Cat 1 : Product 1 <br>Cat 2 : Product 2</div>
            <div id = "qty"> QTY <br> 1 <br>10</div>
            <div id = "rate">RATE <br> 100.00 <br> 900.00</div>
            <div id = "amount">AMOUNT <br> 100.00 <br>9000.00</div>



        </section>

        <section id = "payment-summary-section">
            <div id = "payment-instruction">Please remit payment via Interac E-Transfer to <br>owner@gmail.com</div>
            <div id = "total-due">Total Due <br> CAD 9100.00</div>
        </section>


    </main>
    <!-- <footer>© 2023-Samaneh Heshmatzadeh</footer> -->



    <!-- <script src="./scripts/script.js"></script> -->
</div>
</html>