<h1>Products</h1>
<p>ID: <%= product._id%></p>
<p>Name: <%= product.name%></p>
<p>Code: <%= product.code%></p>
<p>Unit Cost: <%= product.unit_cost%></p>

<button class="btn btn-primary" onClick="window.location.href='/products'">
  Back to list
</button>
